@font-face {
    font-family: 'Verdana';
    src: url('../fonts/Verdana.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Import Verdana Bold */
@font-face {
    font-family: 'Verdana';
    src: url('../fonts/Verdana-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Import Verdana Italic */
@font-face {
    font-family: 'Verdana';
    src: url('../fonts/Verdana-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

/* Import Verdana Bold Italic */
@font-face {
    font-family: 'Verdana';
    src: url('../fonts/Verdana-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

html, body{
    font-family: 'Verdana';
}